VITE_SUPABASE_URL=https://nsgtlqdysfclvnrkxbnt.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_R-V9bdrrGRmXNZ8L4o_M7g_zpsX6WCi


VITE_FIREBASE_API_KEY=AIzaSyBjD5kwe9j3CLuN-M8_71p0BRyQyk2xJoc
VITE_FIREBASE_AUTH_DOMAIN=campusride-91ba3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=campusride-91ba3
VITE_FIREBASE_APP_ID=1:676848833459:web:024fdb34144e696757b1c6

